# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5478412f2823f50f0c3715d9c2da34de41a01014c9705dc841c24ca99b56acca093f3dba9ddc155d8f358b5f4fbd1ab24f19eaa1ea837f81bd41e0f6f988345c
  database:
    :host: localhost
    :name: research_resources_development
    :username: {your_db_user_name}
    :password: {your_db_password}

test:
  secret_key_base: 3605a2362e66b8ade78f30fd4956c5e107473300e103d6b5aa7586741969ab41d695f4a89978cde592b0153b563f68041b04cf05641dfb79ee5efe7910fa9f1a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
